body
{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}


#status,#number_of_object
{
font-size: 18px;
}
.heading
{
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    top: 0px;
}
canvas
{
    box-shadow: 10px 4px 10px greenyellow;
    border-radius: 10px;
    border: 7px solid white ;
    margin-top: 30px;
}

